<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NosceIpsum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NosceIpsum.Properties.Settings>
            <setting name="PopupIntervalSec" serializeAs="String">
                <value>40-180</value>
            </setting>
            <setting name="PopupDisplaySec" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Wisdom" serializeAs="String">
                <value>Känn dig själv;Var medveten;Betrakta dina tankar;Tillbaks till nuet;Betrakta tänkaren;Bryt tankarnas mönster</value>
            </setting>
        </NosceIpsum.Properties.Settings>
    </applicationSettings>
</configuration>